#dynamic-list-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
}

#dynamic-list-wrapper .list-wrapper {
    padding: 1em 0.5em;
}

#dynamic-list-wrapper .control-button {   
    padding: 0.5em 0.9em;
    border-radius: 1.3rem;
    background-color: #000;
    color: #fff;
}

#dynamic-list-wrapper .list-wrapper {
    overflow-x: hidden;
}

/* Animations */
#dynamic-list-wrapper > div {
    transition: 300ms ease;
}

#dynamic-list-wrapper .appear {
    animation: appear 400ms ease;
}

#dynamic-list-wrapper .disappear {
    animation: disappear 400ms ease;
}

#dynamic-list-wrapper #extend-button-container > button {
    top: -1em;
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25em 1.6em;
    border-radius: 0.25rem;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes disappear {
    0% { opacity: 1 }
    100% { opacity: 0 }
}