.dynamic-list-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0 1em 1.5em 1em;
}

.dynamic-list-wrapper > * {
    min-width: 43vw;
}

.dynamic-list-wrapper::after {
    height: 15em;
    width: 0.2em;
    background-color: #000;
    left: 0;
}

.dynamic-list-wrapper::before {
    height: 15em;
    width: 0.2em;
    background-color: #000;
    left: 0;
}

.button-next, .button-previous {
    padding: 1em;
    color: #000;
}

@media only screen and (max-width: 1190px) {
    .block-wrapper > * {
        min-width: 36vw;
    }
}