main {
	gap: 3rem;
}

main > div {
	contain: layout;
}

main > div .flex {
	column-gap: 3em;
}

main > div > .flex {
	flex: 1;
}

.section h3 {
	width: 100%;
}

.section .inner-container {

}

.section p {
	margin: 0.5em 0;
}