main {
	gap: 3rem;
}

main > div .flex {
	column-gap: 3em;
}

main > div:nth-child(2) > div > div,
main > div:nth-child(3) > div > div,
main > div:nth-child(4) > div > div {
	flex: 0 1;
}

.section h3 {
	width: 100%;
}

.section p {
	margin: 0.5em 0;
}
