/* Header */
main .block-section img {
    width: fit-content;
    height: 100%;
}

/* Content */
main article p {
    margin: 1rem 0;
}

main article h2 {
    font-size: 1.5rem;
}

main article h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

main article p code,
main article ul code,
main article li code,
main article h2 code,
main article h3 code {
    padding: 0.2em 0.3em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

main article pre {
    margin: 0.5em 0;
    border: 3px solid #000;
    padding: 0.5em;
    overflow-x: scroll;
}

main article pre code {
    font-weight: 800;
}

main article p > a {
    text-decoration-line: underline;
}

main article > ul {
    margin: 0.25 0;
    list-style:disc;
    padding-left: 1rem;
}

main article > ul li {
    margin: 0.3em 0;
}
