main > *:not(:first-child) {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main footer {
    padding-top: 0;
    padding-bottom: 0;
}

main > .custom-height:first-child {
    min-height: 65vh;
    max-height: 100vh;
}

main #landing .name {
    font-size: 4vw;
}

@media only screen and (max-width: 1190px) {
    main #landing .name {
        font-size: 3rem;
    }
}

/* Block Image */
.block-wrapper header .image-wrapper div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Toolkit */
main .no-icon {
    font-size: 1.5rem;
}