@media only screen and (max-width: 725px) {
	main .section .width-75 {
		width: 100%;
	}

	body > main > .flex {
		max-height: none;
		height: auto;
	}

	body > main > .flex > div {
		width: 100%;
	}

	main .section > .column {
		flex-wrap: nowrap;
		flex: 1;
		row-gap: 3em;
		column-gap: 0em;
	}
}

@media only screen and (max-width: 655px) {
	main .section .link-container {
		width: 100%;
	}

	main .section .link-container .link-list {
		flex-direction: row;
		justify-content: left;
		gap: 0.5em 1em;
		margin-top: 0.25em;
	}

	main .section .link-container .link-list > li {
		text-align: left;
	}

	main .section .link-container .link-list > li:nth-child(1) {
		width: 100%;
	}
}