main > *:not(:first-child) {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

main > *:not(:first-child) {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main > .custom-height:first-child {
    height: 65vh;
}

main #links {
    text-align: center;
}

main #landing .name {
    font-size: 4vw;
}

@media only screen and (max-width: 1190px) {
    main #landing .name {
        font-size: 3rem;
    }
}
