@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/effects.css";
@import "../styles/custom.css";

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
		to bottom,
		transparent,
		rgb(var(--background-end-rgb))
	)
	rgb(var(--background-start-rgb));
} */

nav {
	z-index: 99;
	color: #fff;
	mix-blend-mode: difference;
}

nav button {
	margin-right: 0.5em;
	padding: 0.3em;
	height: 2.5rem;
	width: 2.5rem;
}

body {
	background-color: #fff;
}

/* Headers */
main h1 .greeting,
main h1 .name {
    font-size: 1000;
}

main h2, article h1 {
    font-weight: 600;
}

p > a,
li > a {
	text-decoration: underline;
	font-weight: 600;
}

.section li > a {
	text-decoration: none;
}

.section > p,
main article p {
	margin: 1rem 0;
}