$mobile: 700px;
$tablet: 1250px;

$side_space: 20vw;

$color_background_1: #000;
$color_background_2: #fff;
$color_background_3: #646464;

$color_font_1: #fff;
$color_font_2: #646464;
$color_font_3: #000;
$color_highlight: #0091aa;

$font_size_landing_huge: 7rem;
$font_size_landing_medium: 5rem;
$font_size_landing_small: 3rem;

$font_size_huge: 5rem;
$font_size_medium: 3rem;
$font_size_small: 1.5rem;
$font_size_extra_small: 1rem;

$more_margin_to_content: 0 6vw;