/* HEADER */
nav {
  position: fixed;
  margin: 1em 0;
  width: 100%;
  div {
    float: right;
    margin-right: 1em;
    a {
      background-color: $color_background_1;
      padding: 0.3em 0.4em;
    }
  }
}

#socials {
  margin-right: 0.5em;
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  z-index: 99;
  a {
    margin: 0 0.5em;
  }
}

/* LANDING */
#landing {
  height: 100vh;
  padding-top: 4em;
  margin-bottom: 0;
  background-color: $color_background_1;
  #name {
    font-weight: unset;
  }
  #end {
    font-weight: unset;
  }
  div > {
    display: flex;
    width: 50%;
  }
  h3, p {
    color: $color_font_2;
    margin: 0.2em 0;
  }
  h1 {
    font-size: $font_size_landing_huge;
  }
  h3 {
    font-size: $font_size_landing_medium;
  }
  p {
    font-size: $font_size_landing_small;
  }
  h3, p:nth-child(4) {
    color: $color_font_1;
  }
  p:nth-child(4) span {
    color: $color_font_2;
  }
}

#landing .decoration-text {
  right: 0em;
  text-align: right;
}

/* EXPERIENCE */
#experience {
  margin-top: 0;
  > p {
    padding: $more_margin_to_content;
  }
  .project-container {
    margin: $more_margin_to_content;
    margin-bottom: 5em;
    margin-top: 3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    h2 {
      margin: 0;
      color: $color_font_3;
    }
    p {
      margin-top: 0;
      padding: 1em;
    }
    .project-item {  
      min-width: 25em;
      max-width: 25em;
      border: 0.1em solid rgb(196, 196, 196);
      margin: 0.5em;
      span {
        width: 100% !important;
        img {
          object-fit: cover;
        }
      }
      .text-container {
        position: relative;
        text-align: center;
        a {
          margin: 0 !important;
        }
      }
    }
  }
}

#skill-list {
  > h2 {color:$color_font_3}
  > p {position:relative; bottom: 2.6em;}
  .grid-list {
    padding: 0 15vw;
    background-color: rgba(0, 0, 0, 0);
    .grid-box {
      //border: .1em solid #c4c4c4;
      background-color: $color_background_2;
      color: $color_font_3;
      .no-icon {
        font-size: $font_size_medium;
        text-align: center;
      }
      i {
        font-size: $font_size_huge;
        text-align: center;
        color: rgb(0, 0, 0); // Gets rid of the default color
      }
      p {
        font-weight: 600;
        text-align: center;
        margin-top: 0.4em;
        margin-bottom: 0;
      }
    }
  }

  .grid-list-3 {
    padding: 0 10vw;
    .grid-box {
      min-width: 100%;
      background-color: $color_background_2;
      margin-top: 0;
      margin-bottom: 0;
      &:nth-child(odd) {
        border: .1em solid #c4c4c4;
      }
    }
  }
}

.grid-list .highlighted {
  background-color: $color_background_1 !important;
  p {
    color: $color_font_1 !important;
  }
}



/* ME */
#me {
  min-height: 25em;
  p {
    padding: $more_margin_to_content;
  }
}

/* CONTACT */
#contact {
  #message-box {
  background-color: $color_background_1;
  padding: 0 2em;
  padding-bottom: 1em;
  max-width: 25em;
    p {
      color: $color_font_1;
      text-align: left;
      position: relative;
    }
    li {
      margin: 0 1em;
    }
  }
}

/* FOOTER */
footer {
  background-color: $color_background_1;
  text-align: center;
  position: relative;
  top: 2em;
  padding: 1em 0;
}

/* CUSTOM ELEMENTS */
.container {
  padding: 0 25vw;
}

.box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.skill-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.grid-list {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-box {
  max-width: 18em;
  text-align: left;
  padding: 1em 2em;
  border: 0px solid black;
  background-color: $color_background_1;
  margin: 0.2em;
  border-radius: 0.3em;
}

.grid-list-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-box-2 {
  max-width: 50%;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.decoration-text h3 {
  font-size: 6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}

.decoration-text {
  position: relative;
  h3 {
    margin-top: 0;
  }
}

.section:nth-child(odd) {
  .decoration-text {
    right: 0em;
  }
}

.section:nth-child(even) {
  .decoration-text {
    left: 0em;
    text-align: right;
  }
}
