/* HEADER */
nav {
  position: fixed;
  margin: 1em 0;
  width: 100%;
  div {
    float: right;
    margin-right: 1em;
    a {
      background-color: $color_background_1;
      padding: 0.3em 0.4em;
    }
  }
}

#socials a, nav > a,
#socials a, nav > a {
  padding: 0.3em 0.4em;
}

// #socials {
//   margin-right: 0.5em;
//   position: fixed;
//   bottom: 1em;
//   right: 0.5em;
//   z-index: 99;
//   a {
//     margin: 0 0.5em;
//     color: $color_font_1;
//   }
// }

/* LANDING */
#landing {
  height: 100vh;
  padding-top: 4rem;
  margin-bottom: 0;
  background-color: $color_background_1;
  #name {
    font-weight: unset;
  }
  #end {
    font-weight: unset;
  }
  div > {
    display: flex;
    width: 50%;
  }
  h3, p {
    color: $color_font_2;
    margin: 0.2em 0;
  }
  h1 {
    font-size: $font_size_landing_huge;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  h3 {
    font-size: $font_size_landing_medium;
  }
  p {
    font-size: $font_size_landing_small;
  }
  h3, p:nth-child(4) {
    color: $color_font_1;
  }
  p:nth-child(4) span {
    color: $color_font_2;
  }
  .decoration-text {
    right: 0em;
    text-align: right;
  }
}

/* EXPERIENCE */
.block-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: wrap;
  gap: 1em;
  .block-item {
    width: 30%;
    border: 0.1em solid rgb(196, 196, 196);
    border-radius: 0.5em;
    span {
      width: 100% !important;
      img {
        object-fit: cover;
        border-radius: 0.5em 0.5em 0 0;
      }
    }
    .text-container {
      padding: 0 1em;
      h2 {
        margin: 0;
        color: $color_font_3;
      }
      p {
        margin-top: 0.3em;
        color: $color_font_3;
      }
    }
  }
}

.tag {
  width: fit-content;
  background-color: $color_background_1;
  color: $color_font_1;
  padding: 0.3em 0.5em;
  margin: 0.3em 0;
  font-size: 0.8rem;
}

.skills-toolkit {
  > h2 { color: $color_font_3; }
  > p { margin-top: 0rem; }
  .flex-list {
    // padding: 0 15vw;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1rem;
    .grid-box {
      //border: .1em solid #c4c4c4;
      background-color: $color_background_2;
      color: $color_font_3;
      .no-icon {
        font-size: $font_size_medium;
        text-align: center;
      }
      i {
        font-size: $font_size_huge;
        text-align: center;
        color: rgb(0, 0, 0); // Gets rid of the default color
        min-height: 5rem !important;
        display: block;
      }
      p {
        font-weight: 600;
        text-align: center;
        // margin-top: 0.4em;
        // margin-bottom: 0;
      }
    }
  }

  .grid-list-3 {
    .grid-box {
      background-color: $color_background_2;
      &:nth-child(odd) {
        border: .1em solid #c4c4c4;
      }
    }
  }
}

.flex-list .highlighted {
  background-color: $color_background_1 !important;
  p {
    color: $color_font_1 !important;
  }
}

/* ME */
#me {
  // min-height: 25em;
  .centered {
    padding-bottom: 1rem;
  }
}

/* Socials */

#links {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  text-align: center;
  > div {
    ul {
      padding-left: 0;
      list-style: none;
      li {
        padding: 0 1rem;
        font-size: 1.5rem;
        display: inline-block;
        color: $color_font_3 !important;
        a {
          padding: 0.3rem 0.5rem;
        }
      }
    } 
  }
}

/* FOOTER */
footer {
  background-color: $color_background_1;
  text-align: center;
  position: relative;
  top: 2em;
  padding: 1em 0;
}

/* CUSTOM ELEMENTS */
.box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.skill-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.flex-list {
  margin: 0 auto;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  overflow-x: hidden;
}

.grid-box {
  max-width: 18em;
  text-align: left;
  border: 0px solid black;
  background-color: $color_background_1;
  margin: 0.2em;
  border-radius: 0.3em;
}

.grid-list-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-box-2 {
  max-width: 50%;
  margin-left: 1em;
  margin-right: 1em;
}

.decoration-text h3 {
  font-size: 6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}

.decoration-text {
  position: relative;
  h3 {
    margin-top: 0;
  }
}

.section:nth-child(odd) {
  .decoration-text {
    right: 0em;
  }
}

.section:nth-child(even) {
  .decoration-text {
    left: 0em;
    text-align: right;
  }
}

.swiper {
  cursor: grab;
}

// Archive and other sub pages
#sub-landing {
  min-height: 30vh;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: $color_background_1;
  p {
    color: $color_font_2;
    margin: 0.2em 0;
    width: 70%;
  }
  .motto {
    font-size: $font_size_small;
  }
  .description {
    font-size: $font_size_extra_small;
  }
  h1 {
    font-size: $font_size_landing_small;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .blog-details {
    color: $color_font_1;
    margin-top: 1rem;
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
  }
  .background-image {
    display: flex;
    justify-content: center;
    max-height: 15em;
    img {
      transform: scale(180%);
      object-fit: contain;
    }
  }
}

#blog-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color_font_3;
  p:nth-child(1) {
    font-weight: 700;
  }
}

#article-container {
  margin: 0 auto;
  width: 38vw;
  padding: 1rem 0 !important;
  color: $color_font_3;
  .blog-details {
    ul {
      padding-left: 0;
      list-style-type: none;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}