#test {
  background-color: pink;
  color: navajowhite;
  height: 10em;
  width: 10em;
  margin: auto;
  top: 40%;
}

#__next {
  position: relative;
  bottom: 2em;
}

html,
body, textarea {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: $color_background_2;
  color: $color_font_1;
  .main-container .section  {
    padding-left: 10vw;
    padding-right: 10vw;
    &:nth-child(even) {
      background-color: $color_background_1;
      h1 {
        color: $color_font_1;
      }
    }
    &:nth-child(odd) {
      h1, p, label {
        color: $color_font_3;
      }

      label {
        font-weight: bolder;
      }
    }
  }
}

h1 {
  font-size: $font_size_medium;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: $font_size_extra_small;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  z-index: 99;
}

nav a {
  margin-left: 0.7rem;
}

.inline {
  display: inline;
}

textarea {
  height: 10em;
}

input, textarea {
  margin-top: 0.7em;
  margin-bottom: 1.2em;
  width: 100%;
  padding: 0.7em;
  //border-radius: 0.3em;
  border: 3px solid $color_background_1;
  //background-color: rgb(219, 219, 219);
}

button {
  width: 100%;
  padding: 0.5em;
  border: 0px;
  //border-radius: 0.3em;
  font-weight: bold;
  background-color: $color_background_1;
  border: 3px solid $color_font_3;
  color: $color_font_1;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

button:hover {
  background-color: rgba(0,0,0,0);
  color: $color_font_3;
  cursor: pointer;
}

.section {
  margin-top: 2em;
  margin-bottom: 2em;
}

#experience, #me, #contact {
  padding-bottom: 2em;
  h1 {
    bottom: 0.38em;
    position: relative;
    font-size: $font_size_huge;
    margin-top: 0;
    margin-bottom: 0;
  }
}