#test {
  background-color: pink;
  color: navajowhite;
  height: 10em;
  width: 10em;
  margin: auto;
  top: 40%;
}

// #__next {
//   position: relative;
//   bottom: 2em;
// }

html,
body, textarea {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: $color_background_2;
  color: $color_font_1;
  .main-container .section  {
    padding-left: 10vw;
    padding-right: 10vw;
    &:nth-child(even) {
      background-color: $color_background_1;
      h1 {
        color: $color_font_1;
      }
    }
    &:nth-child(odd) {
      h1, p, label {
        color: $color_font_3;
      }

      label {
        font-weight: bolder;
      }
    }
  }
}

h1 {
  font-size: $font_size_medium;
}

h2 {
  font-size: $font_size_small;
}

h3 {
  font-size: $font_size_extra_small;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer > a {
  font-weight: 600;
  padding: 0.5rem;
//   border-bottom: 0em solid $color_font_1;
//   transition:
//     border-bottom 100ms ease-in-out;
}

#experience p a:hover, 
#p a:active {
  //color: $color_highlight;
  border-bottom: 0.3em solid $color_font_3;
}

nav > a, #socials a, nav div a, footer a, #links a {
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

#socials a:hover, nav > a:hover,
#socials a:active, nav > a:active,
nav div a:hover,
nav div a:active,
footer a:hover,
footer a:active {
  background-color: $color_background_2;
  color: $color_font_3;
}

#links a:hover,
#links a:active {
  background-color: $color_background_1;
  color: $color_font_1;
}

nav {
  z-index: 99;
}

nav a {
  margin-left: 0.7rem;
}

.inline {
  display: inline;
}

textarea {
  height: 10em;
  // font-size: 0.9rem;
}

input, textarea {
  margin-top: 0.7em;
  margin-bottom: 1.2em;
  width: 100%;
  padding: 0.7em;
  //border-radius: 0.3em;
  border: 3px solid $color_background_1;
  //background-color: rgb(219, 219, 219);
}

button {
  width: 100%;
  padding: 0.5em;
  border: 0px;
  //border-radius: 0.3em;
  font-weight: bold;
  background-color: $color_background_1;
  border: 3px solid $color_font_3;
  color: $color_font_1;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

button:hover
button:active {
  background-color: rgba(0,0,0,0);
  color: $color_font_3;
  cursor: pointer;
}

.fake-button {
  position: relative;
  top: 40%;
  width: 100%;
  padding: 0.5em;
  border: 0px;
  //border-radius: 0.3em;
  font-weight: bold;
  background-color: $color_background_1;
  border: 3px solid $color_font_3;
  color: $color_font_1;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.fake-button:hover,
.fake-button:active {
  background-color: rgba(0,0,0,0);
  color: $color_font_3;
  cursor: pointer;
}

.space-container {
  .fake-button {
    margin: 0 auto;
  }
}

.project-item {
  border-radius: 0.2em;
  transition: box-shadow 250ms ease-in-out,
              border-radius 250ms ease-in-out;
  img {
    border-radius: 0.2em 0.2em 0 0;
    transition: border-radius 250ms ease-in-out;
  }
}

.project-item:hover,
.project-item:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5em;
  img {
    border-radius: 0.5em 0.5em 0 0;
  }
}

.flex-list .grid-box img {
  object-fit: contain;
}

#experience, #me, #contact {
  // padding-bottom: 2em;
  h1 {
    // bottom: 1.9rem;
    // position: relative;
    font-size: $font_size_huge;
    // margin-top: 0;
    // margin-bottom: 0;
  }
}

#me {
  p {
    margin: 0;
    padding-bottom: 1.2rem;
  }
}

@media only screen and (min-width: $tablet) {
  .section {
    .centered {
      padding: $more_margin_to_content;
    }
  }

  .main-container .section  {
    padding-left: $side_space !important;
    padding-right: $side_space !important;
  }
}