@media only screen and (max-width: $mobile) {
  .container {
    padding: 0 2rem;
  }

  #landing {
    h1 {
      font-size: $font_size_landing_medium;
    }
    #start {
      font-size: $font_size_small;
    }
    p {
      font-size: $font_size_landing_small;
      span {
        width: 100%;
        display: block;
        font-size: $font_size_small;
      }
    }
    h3 {
      font-size: $font_size_medium;
    }
  }

  #experience {
    .project-container {
      margin: 0vw;
    }
  }

  #contact {
    input, textarea {
      width: 100%;
    }

    .project-item {
      flex-direction: column;
      max-height: none;
      .image-container {
        margin-bottom: 0.2em;
        width: 100% !important;
      }
      .text-container {
        margin: 0;
        text-align: left;
      }
    }

    .grid-box-2 {
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
  }
}