@media only screen and (max-width: $mobile) {
  .section {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #landing {
    div {
      h1 {
        font-size: $font_size_landing_small + 1;
      }
      h3 {
        font-size: $font_size_landing_small;
      }
      p {
        font-size: $font_size_landing_small - 1;
      }
    }
  }

  nav .burger-container {
    display: block;
    width: 2rem;
    height: 2rem;
    #burger-button {
      font-size: 1.5rem;
      min-width: 100%;
      min-height: 100%;
      display: block;
      padding: 0;
      margin: auto;
      color: $color_font_1;
    }
  }

  nav .wide-menu {
    display: none !important;
  }

  #article-container {
    width: 95vw;
  }
}

@media only screen and (max-width: ($mobile - 200px)) {
  /* EXPERIENCE */
  .block-container {
    .block-item {
      width: 100% !important;
    }
  }
}