@media only screen and (min-width: $mobile) and (max-width: $tablet) {
  #experience {
    .project-container {
      .project-item {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  #landing {
    h1 {
      font-size: $font_size_landing_medium;
    }
    p {
      font-size: $font_size_medium - 1rem;
    }
  }

  /* EXPERIENCE */
  .block-container {
    .block-item {
      width: 48%;
    }
  }

  // Archive and other sub pages
  #sub-landing {
    p {
      width: 100%;
    }
  }
}