@media only screen and (min-width: $mobile) and (max-width: $tablet) {
  .container {
    padding: 0 7rem;
  }

  #contact {
    input, textarea {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $tablet) {
  #landing {
    div:nth-child(2) {
      display: none;
    }
  }

  #experience {
    .project-container {
      margin-left: 0;
      margin-right: 0;
    }

    p {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #contact {
    .grid-list-2 {
      flex-flow: wrap-reverse;
      .space-container {
        position: relative;
        top: 3em;
        width: 100%;
        text-align: center;
      }
    }
  }

  #skill-list .grid-list {
    padding-left: 0;
    padding-right: 0;
  }
}