/* HEADER */
nav {
  position: fixed;
}

nav div {
  float: right;
}

nav div a {
  background-color: #6d6d6d;
  padding: 0.3em 0.4em;
}

/* LANDING */
#landing {
  height: 100vh;
  padding-top: 4em;
  margin-bottom: 0;
  background-color: #000;
}

#landing div > {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

#landing h3, #landing p {
  color: #646464;
  margin: 0.2em 0;
}

#landing h1 {
  font-size: 7rem;
}

#landing h3 {
  font-size: 5rem;
}

#landing p {
  font-size: 3rem;
}

#landing h3, #landing p:nth-child(4) {
  color: #fff;
}

#landing p:nth-child(4) span {
  color: #646464;
}

#landing .decoration-text {
  right: 0em;
  text-align: right;
}

/* EXPERIENCE */
#experience {
  margin-top: 0;
}

#experience .project-container {
  margin: 0 10vw;
}

#experience .project-container h2 {
  color: #000;
}

#experience .project-container .project-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#experience .project-container .project-item:nth-child(odd) .text-container {
  margin-left: 2em;
}

#experience .project-container .project-item:nth-child(odd) .text-container h2, #experience .project-container .project-item:nth-child(odd) .text-container p {
  margin: 0;
}

#experience .project-container .project-item:nth-child(odd) .text-container h2 {
  margin-bottom: 0.4em;
}

#experience .project-container .project-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

#experience .project-container .project-item:nth-child(even) .text-container {
  margin-right: 2em;
}

#experience .project-container .project-item:nth-child(even) .text-container h2, #experience .project-container .project-item:nth-child(even) .text-container p {
  margin: 0;
}

#experience .project-container .project-item:nth-child(even) .text-container h2 {
  margin-bottom: 0.4em;
}

#skill-list {
  overflow-y: scroll;
  height: 30em;
}

#skill-list h2 {
  margin-top: 0.4em;
}

/* ME */
#me {
  margin-bottom: 0;
}

/* CONTACT */
#contact #message-box {
  background-color: #000;
  padding: 0 1em;
}

#contact #message-box p {
  color: #fff;
  text-align: left;
  position: relative;
}

#contact #message-box li {
  margin: 0 1em;
}

/* FOOTER */
footer {
  background-color: #000;
  text-align: center;
  position: relative;
  top: 2em;
  padding: 1em 0;
}

/* CUSTOM ELEMENTS */
.container {
  padding: 0 25vw;
}

.box {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.skill-card {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.grid-list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-box {
  max-width: 18em;
  text-align: left;
  padding: 1em 2em;
  border: 0px solid black;
  background-color: #000;
  margin: 0.2em;
  border-radius: 0.3em;
}

.grid-list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-box-2 {
  max-width: 50%;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.project-item {
  margin: 3em 0;
  max-height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-item .image-container {
  min-height: auto;
  min-width: 40%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-item .text-container h2, .project-item .text-container p {
  margin: 0;
}

.decoration-text h3 {
  font-size: 6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}

.decoration-text {
  position: relative;
}

.decoration-text h3 {
  margin-top: 0;
}

.section:nth-child(odd) .decoration-text {
  right: 0em;
}

.section:nth-child(even) .decoration-text {
  left: 0em;
  text-align: right;
}

#test {
  background-color: pink;
  color: navajowhite;
  height: 10em;
  width: 10em;
  margin: auto;
  top: 40%;
}

#__next {
  position: relative;
  bottom: 2em;
}

html,
body, textarea {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #fff;
}

body .main-container .section {
  padding-left: 10vw;
  padding-right: 10vw;
}

body .main-container .section:nth-child(even) {
  background-color: #000;
}

body .main-container .section:nth-child(even) h1 {
  color: #fff;
}

body .main-container .section:nth-child(odd) h1, body .main-container .section:nth-child(odd) p, body .main-container .section:nth-child(odd) label {
  color: #000;
}

body .main-container .section:nth-child(odd) label {
  font-weight: bolder;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  z-index: 99;
}

nav a {
  margin-left: 0.7rem;
}

.inline {
  display: inline;
}

textarea {
  height: 10em;
}

input, textarea {
  margin-top: 0.7em;
  margin-bottom: 1.2em;
  width: 100%;
  padding: 0.7em;
  border: 3px solid #000;
}

button {
  width: 100%;
  padding: 0.5em;
  border: 0px;
  font-weight: bold;
  background-color: #000;
  border: 3px solid #000;
  color: #fff;
  -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  cursor: pointer;
}

.section {
  margin-top: 2em;
  margin-bottom: 2em;
}

#experience, #me, #contact {
  padding-bottom: 2em;
}

#experience h1, #me h1, #contact h1 {
  bottom: 0.38em;
  position: relative;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 550px) {
  .container {
    padding: 0 2rem;
  }
  #landing h1 {
    font-size: 5rem;
  }
  #landing #start {
    font-size: 1.5rem;
  }
  #landing p {
    font-size: 3rem;
  }
  #landing p span {
    width: 100%;
    display: block;
    font-size: 1.5rem;
  }
  #landing h3 {
    font-size: 3rem;
  }
  #experience .project-container {
    margin: 0vw;
  }
  #contact input, #contact textarea {
    width: 100%;
  }
  #contact .project-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
  }
  #contact .project-item .image-container {
    margin-bottom: 0.2em;
    width: 100% !important;
  }
  #contact .project-item .text-container {
    margin: 0;
    text-align: left;
  }
  #contact .grid-box-2 {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 550px) and (max-width: 1150px) {
  .container {
    padding: 0 7rem;
  }
  #contact input, #contact textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  #landing div:nth-child(2) {
    display: none;
  }
  #experience .project-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
  }
  #experience .project-item .image-container {
    margin-bottom: 0.2em;
  }
  #experience .project-item .text-container {
    margin: 0;
    text-align: left;
  }
}
/*# sourceMappingURL=compiled.css.map */